{% if null != media.name %}
    <h2>{{ media.name|raw }}</h2>
{% endif %}

<p>{{ media.description|raw }}</p>

<a class="ui icon labeled primary button" href="{{ path('bitbag_sylius_cms_plugin_shop_media_download', {'code': media.code}) }}">
    <i class="download icon"></i>
    {{ 'bitbag_sylius_cms_plugin.ui.download'|trans }}
</a>
