<div>
    {% if null != media.name %}
        <h2>{{ media.name|raw }}</h2>
    {% endif %}

    <p>{{ sylius_cms_render_content(media) }}</p>

    <a class="ui icon labeled primary button" href="{{ path('sylius_cms_shop_media_download', {'code': media.code}) }}">
        <i class="download icon"></i>
        {{ 'sylius_cms.ui.download'|trans }}
    </a>
</div>
