<div>
    {% if null != media.name %}
        <h2>{{ media.name|raw }}</h2>
    {% endif %}

    <video controls width="100%" src="{{ media.path }}"></video>

    <p>{{ bitbag_cms_render_content(media) }}</p>
</div>
