{% set path = '/media/image/'~block.image.path %}

<div class="bitbag-image-block">
    {% if null == block.name and null == block.link %}
        {% include '@BitBagCmsPlugin/Shop/Block/Show/_image.html.twig' %}
    {% elseif null == block.name and null != block.link %}
        <a href="{{ block.link }}">
            {% include '@BitBagCmsPlugin/Shop/Block/Show/_image.html.twig' %}
        </a>
    {% elseif null != block.name and null == block.link %}
        <span>
            {{ block.name|raw }}
        </span>
        {% include '@BitBagCmsPlugin/Shop/Block/Show/_image.html.twig' %}
    {% else %}
        <span>{{ block.name|raw }}</span>
        <a href="{{ block.link }}">
            {% include '@BitBagCmsPlugin/Shop/Block/Show/_image.html.twig' %}
        </a>
    {% endif %}
</div>