/vendor/
/node_modules/

/etc/build/*
!/etc/build/.gitkeep

tests/Application/var/
!tests/Application/var/.gitkeep

!tests/Application/web/app_test.php
!tests/Application/web/assets/*
/tests/Application/web

/tests/Application/node_modules/*
