/vendor/
/node_modules/

/etc/build/*
!/etc/build/.gitignore

/composer.lock

/.phpunit.result.cache
/phpunit.xml
/phpstan.neon
/phpspec.yml
/behat.yml
/drivers

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
