/bin/
!/bin/.gitkeep

/vendor/
/node_modules/
/composer.lock

/etc/build/*
!/etc/build/.gitkeep

tests/Application/node_modules/

tests/Application/var/
!tests/Application/var/.gitkeep

tests/Application/web/
!tests/Application/web/app_dev.php
!tests/Application/web/app_test.php