imports:
    - vendor/sylius/sylius/behat.yml.dist
    - tests/Behat/Resources/suites.yml

default:
    extensions:
        FriendsOfBehat\ContextServiceExtension:
            imports:
                - vendor/sylius/sylius/src/Sylius/Behat/Resources/config/services.xml
                - tests/Behat/Resources/services.xml

        FriendsOfBehat\SymfonyExtension:
            env_file: tests/Application/.env.test
            kernel:
                env: test
                debug: true
                class: Tests\Acme\SyliusExamplePlugin\Application\Kernel
                path: tests/Application/Kernel.php
                bootstrap: ~

        Lakion\Behat\MinkDebugExtension:
            directory: etc/build
            clean_start: false
            screenshot: true
