imports:
    - vendor/sylius/sylius/src/Sylius/Behat/Resources/config/suites.yml
    - tests/Behat/Resources/suites.yml

default:
    extensions:

        FriendsOfBehat\SymfonyExtension:
            bootstrap: tests/Application/config/bootstrap.php
            kernel:
                debug: true
                class: Tests\BitBag\SyliusCmsPlugin\Application\Kernel
                path: tests/Application/Kernel.php
                environment: test

        FriendsOfBehat\MinkDebugExtension:
            directory: etc/build
            clean_start: false
            screenshot: true

        Behat\MinkExtension:
            files_path: "%paths.base%/vendor/sylius/sylius/src/Sylius/Behat/Resources/fixtures/"
            base_url: "http://localhost:8080/"
            default_session: symfony
            javascript_session: chrome
            sessions:
                symfony:
                    symfony: ~
                chrome:
                    selenium2:
                        browser: chrome
                        capabilities:
                            browserName: chrome
                            browser: chrome
                            version: ""
                            marionette: null # https://github.com/Behat/MinkExtension/pull/311
                            chrome:
                                switches:
                                    - "start-fullscreen"
                                    - "start-maximized"
                                    - "no-sandbox"
                            extra_capabilities:
                                acceptSslCerts: true
                                acceptInsecureCerts: true
                                unexpectedAlertBehaviour: accept
                                goog:chromeOptions:
                                    w3c: false # https://github.com/Sylius/Sylius/issues/10561

        FriendsOfBehat\VariadicExtension: ~

        FriendsOfBehat\SuiteSettingsExtension:
            paths:
                - "features"
    formatters:
        pretty:
            verbose: true
            paths: false
            snippets: false
