imports:
    - vendor/sylius/sylius/src/Sylius/Behat/Resources/config/suites.yml
    - tests/Behat/Resources/suites.yml

default:
    extensions:
        DMore\ChromeExtension\Behat\ServiceContainer\ChromeExtension: ~

        FriendsOfBehat\MinkDebugExtension:
            directory: etc/build
            clean_start: false
            screenshot: true

        Behat\MinkExtension:
            files_path: "%paths.base%/vendor/sylius/sylius/src/Sylius/Behat/Resources/fixtures/"
            base_url: "https://127.0.0.1:8080/"
            default_session: symfony
            javascript_session: chrome_headless
            sessions:
                default:
                    chrome:
                        api_url: "http://localhost:9222"
                        # Set the optimal Socket Timeout to avoid client-server connection problems in behat scripts.
                        socket_timeout: 60
                        dom_wait_timeout: 60000
            show_auto: false

        FriendsOfBehat\SymfonyExtension:
            bootstrap: tests/Application/config/bootstrap.php
            kernel:
                class: Tests\BitBag\SyliusCmsPlugin\Application\Kernel

        FriendsOfBehat\VariadicExtension: ~

        FriendsOfBehat\SuiteSettingsExtension:
            paths:
                - "features"
