includes:
    - vendor/bitbag/coding-standard/phpstan.neon
parameters:
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

    excludePaths:
        # Sitemap dependent providers
        - 'src/SitemapProvider'
        - 'src/Importer/AbstractImporter'
    ignoreErrors:
        - '#.*NodeParentInterface\|null.*#'