includes:
    - vendor/bitbag/coding-standard/phpstan.neon
parameters:
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    exclude_analyse:
        # Sitemap dependent providers
        - 'src/SitemapProvider'
        - 'src/Importer/AbstractImporter'
        - 'tests/Application/config/bootstrap.php'
        - 'tests/Fixture/PageFixtureTest.php'
    ignoreErrors:
        - '#.*NodeParentInterface\|null.*#'