<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/Application/config/bootstrap.php">
    <testsuites>
        <testsuite name="BitBagSyliusCmsPlugin Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <server name="KERNEL_CLASS" value="Tests\BitBag\SyliusCmsPlugin\Application\Kernel" />
        <server name="IS_DOCTRINE_ORM_SUPPORTED" value="true"/>
        <server name="EXPECTED_RESPONSE_DIR" value="../Responses/Expected"/>
    </php>
</phpunit>
