{% extends '@SyliusShop/layout.html.twig' %}

{% block metatags %}
    <base href="{{ app.request.getSchemeAndHttpHost() }}">
{% endblock %}

{% block content %}
    <div class="column">
        <div class="ui segment">
            {% if mediaTemplate != null %}
                {% include mediaTemplate %}
            {% endif %}
        </div>
    </div>
{% endblock %}
