<a class="ui icon labeled primary button" href="{{ path('sylius_cms_plugin_shop_media_download', {'code': code}) }}">
    <i class="download icon"></i>
    {{ 'sylius_cms_plugin.ui.download'|trans }}
</a>
