{% macro mediaWidget(form) %}
    <div class="ui upload box segment">
        {{ form_row(form) }}
        <a href="{{ path('sylius_cms_plugin_admin_media_create') }}" target="_blank" class="ui button create_btn" type="button">{{ 'sylius.ui.create'|trans }}</a>
        <div class="mediaPlacehod"></div>
    </div>
{% endmacro %}
