<div class="card mt-3">
    <div class="card-header">
        <div class="card-title">
            {{ 'sylius_cms.ui.seo'|trans }}
        </div>
    </div>
    <div>
        {% hook 'seo' %}
    </div>
</div>
