imports:
    - { resource: "@BitBagSyliusCmsPlugin/Resources/config/resources.yml" }
    - { resource: "@BitBagSyliusCmsPlugin/Resources/config/fos_ck_editor/fos_ck_editor.yml" }
    - { resource: "@BitBagSyliusCmsPlugin/Resources/config/grids.yml" }
    - { resource: "@BitBagSyliusCmsPlugin/Resources/config/services.yml" }

parameters:
    sylius.sitemap.path: "%kernel.project_dir%/var/sitemap"
    bitbag_validation_group: [bitbag]
    bitbag_sylius_cms_plugin.form.type.block.validation_groups: "%bitbag_validation_group%"
    bitbag_sylius_cms_plugin.form.type.translation.block.validation_groups: "%bitbag_validation_group%"
    bitbag_sylius_cms_plugin.form.type.block_image.validation_groups: "%bitbag_validation_group%"
    bitbag_sylius_cms_plugin.form.type.page.validation_groups: "%bitbag_validation_group%"
    bitbag_sylius_cms_plugin.form.type.translation.page.validation_groups: "%bitbag_validation_group%"
    bitbag_sylius_cms_plugin.form.type.frequently_asked_question.validation_groups: "%bitbag_validation_group%"
    bitbag_sylius_cms_plugin.form.type.translation.frequently_asked_question.validation_groups: "%bitbag_validation_group%"
    bitbag_sylius_cms_plugin.form.type.section.validation_groups: "%bitbag_validation_group%"
    bitbag_sylius_cms_plugin.form.type.translation.section.validation_groups: "%bitbag_validation_group%"
    bitbag_sylius_cms_plugin.form.type.translation.media.validation_groups: "%bitbag_validation_group%"
    bitbag_sylius_cms_plugin.form.type.media.validation_groups: "%bitbag_validation_group%"
    bitbag_sylius_cms_plugin.uploader.filesystem: bitbag_sylius_cms_plugin_media

jms_serializer:
    metadata:
        directories:
            bitbag-section:
                namespace_prefix: "BitBag\\SyliusCmsPlugin"
                path: "@BitBagSyliusCmsPlugin/Resources/config/serializer"

knp_gaufrette:
    adapters:
        bitbag_sylius_cms_plugin_media:
            local:
                directory: "%sylius_core.public_dir%"
                create: true
    filesystems:
        bitbag_sylius_cms_plugin_media:
            adapter: "%bitbag_sylius_cms_plugin.uploader.filesystem%"

liip_imagine:
    loaders:
        default:
            filesystem:
                data_root:
                    - "%kernel.project_dir%/public"

sylius_ui:
    events:
        sylius.admin.layout.javascripts:
            blocks:
                version_script:
                    template: "@BitBagSyliusCmsPlugin/Asset/_versionScript.html.twig"
                    priority: 10
