imports:
    - { resource: "@SyliusCmsPlugin/Resources/config/fos_ck_editor/fos_ck_editor.yml" }
    - { resource: "@SyliusCmsPlugin/Resources/config/grids.yml" }
    - { resource: "@SyliusCmsPlugin/Resources/config/services.xml" }

parameters:
    sylius.sitemap.path: "%kernel.project_dir%/var/sitemap"
    sylius_validation_group: [cms]
    sylius_cms.form.type.block.validation_groups: "%sylius_validation_group%"
    sylius_cms.form.type.content_configuration.validation_groups: "%sylius_validation_group%"
    sylius_cms.form.type.block_image.validation_groups: "%sylius_validation_group%"
    sylius_cms.form.type.page.validation_groups: "%sylius_validation_group%"
    sylius_cms.form.type.translation.page.validation_groups: "%sylius_validation_group%"
    sylius_cms.form.type.collection.validation_groups: "%sylius_validation_group%"
    sylius_cms.form.type.translation.media.validation_groups: "%sylius_validation_group%"
    sylius_cms.form.type.media.validation_groups: "%sylius_validation_group%"
    sylius_cms.form.type.template.validation_groups: "%sylius_validation_group%"
    sylius_cms.uploader.filesystem: sylius_cms_media

jms_serializer:
    metadata:
        directories:
            cms-section:
                namespace_prefix: "Sylius\\CmsPlugin"
                path: "@SyliusCmsPlugin/Resources/config/serializer"

knp_gaufrette:
    adapters:
        sylius_cms_media:
            local:
                directory: "%sylius_core.public_dir%"
                create: true
    filesystems:
        sylius_cms_media:
            adapter: "%sylius_cms.uploader.filesystem%"

liip_imagine:
    loaders:
        default:
            filesystem:
                data_root:
                    - "%kernel.project_dir%/public"

sylius_ui:
    events:
        sylius.admin.layout.javascripts:
            blocks:
                version_script:
                    template: "@SyliusCmsPlugin/Asset/_cmsVersionScript.html.twig"
                    priority: 30
