bitbag_sylius_cms_plugin_shop_frequently_asked_question_index:
    path: /faq
    defaults:
        _controller: bitbag_sylius_cms_plugin.controller.frequently_asked_question:indexAction
        _sylius:
            template: "@BitBagSyliusCmsPlugin/Shop/FrequentlyAskedQuestion/index.html.twig"
            repository:
                method: findEnabledOrderedByPosition
                arguments:
                    - "expr:service('sylius.context.locale').getLocaleCode()"
                    - "expr:service('sylius.context.channel').getChannel().getCode()"
