{% set path = '/media/image/'~block.image.path %}

{% if null == block.name and null == block.link %}
    {% include 'BitBagCmsPlugin:Block:_image.html.twig' %}
{% elseif null == block.name and null != block.link %}
    <a href="{{ block.link }}">
        {% include 'BitBagCmsPlugin:Block:_image.html.twig' %}
    </a>
{% elseif null != block.name and null == block.link %}
    <h4>
        {{ block.name }}
    </h4>
    {% include 'BitBagCmsPlugin:Block:_image.html.twig' %}
{% else %}
    <h4>{{ block.name }}</h4>
    <a href="{{ block.link }}">
        {% include 'BitBagCmsPlugin:Block:_image.html.twig' %}
    </a>
{% endif %}