{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <div class="column">
        <div class="ui segment">
            {% include blockTemplate %}
        </div>
    </div>
{% endblock %}
