{% extends '@SyliusShop/layout.html.twig' %}

{% block metatags %}
    <base href="{{ app.request.getSchemeAndHttpHost() }}">
{% endblock %}

{% block content %}
    <div class="column">
        <div class="ui segment">
            {{ bitbag_cms_render_content_elements(block) }}
        </div>
    </div>
{% endblock %}
