{% extends '@SyliusShop/layout.html.twig' %}

{% import '@SyliusUi/Macro/messages.html.twig' as messages %}

{% block content %}
    {% for faq in resources %}
        <h3>
            {{ faq.question }}
        </h3>
        <p>
            {{ faq.answer }}
        </p>
    {% else %}
        {{ messages.info('sylius.ui.no_results_to_display') }}
    {% endfor %}
{% endblock %}
