/public/assets
/public/build
/public/css
/public/js
/public/media/*

/node_modules
/yarn-error.log
/yarn.lock

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles
/var/
/vendor/
###< symfony/framework-bundle ###
