sylius_grid:
    grids:
        bitbag_sylius_cms_plugin_admin_media:
            driver:
                name: doctrine/orm
                options:
                    class: "%bitbag_sylius_cms_plugin.model.media.class%"
                    repository:
                        method: createListQueryBuilder
                        arguments: ["%locale%"]
            sorting:
                code: asc
            limits: [10, 25, 50]
            fields:
                media_file:
                    type: twig
                    label: bitbag_sylius_cms_plugin.ui.preview
                    path: .
                    options:
                        template: "@BitBagSyliusCmsPlugin/Grid/Field/image_preview.html.twig"
                name:
                    type: twig
                    label: bitbag_sylius_cms_plugin.ui.name
                    sortable: name
                    path: .
                    options:
                        template: "@BitBagSyliusCmsPlugin/Grid/Field/name.html.twig"
                code:
                    type: string
                    label: bitbag_sylius_cms_plugin.ui.code
                    sortable: ~
                enabled:
                    type: twig
                    label: sylius.ui.enabled
                    options:
                        template: "@SyliusUi/Grid/Field/enabled.html.twig"
                collections:
                    type: twig
                    label: bitbag_sylius_cms_plugin.ui.collections
                    path: .
                    options:
                        template: "@BitBagSyliusCmsPlugin/Grid/Field/collections.html.twig"
                channels:
                    type: twig
                    label: bitbag_sylius_cms_plugin.ui.channels
                    path: .
                    options:
                        template: "@BitBagSyliusCmsPlugin/Grid/Field/channels.html.twig"
            filters:
                search:
                    type: string
                    label: sylius.ui.search
                    options:
                        fields: [code, translations.name]
                type:
                    type: select
                    label: sylius.ui.type
                    form_options:
                        choices:
                            sylius.ui.image: !php/const BitBag\SyliusCmsPlugin\Entity\MediaInterface::IMAGE_TYPE
                            bitbag_sylius_cms_plugin.ui.file: !php/const BitBag\SyliusCmsPlugin\Entity\MediaInterface::FILE_TYPE
                            bitbag_sylius_cms_plugin.ui.video: !php/const BitBag\SyliusCmsPlugin\Entity\MediaInterface::VIDEO_TYPE
            actions:
                main:
                    import:
                        type: import
                        options:
                            resourceCode: media
                    create:
                        type: create
                item:
                    update:
                        type: update
                    delete:
                        type: delete
                bulk:
                    delete:
                        type: delete
