sylius_grid:
    grids:
        bitbag_sylius_cms_plugin_admin_media:
            driver:
                name: doctrine/orm
                options:
                    class: "%bitbag_sylius_cms_plugin.model.media.class%"
                    repository:
                        method: createListQueryBuilder
                        arguments:
                            - "expr:service('sylius.context.locale').getLocaleCode()"
            sorting:
                code: asc
            limits: [10, 25, 50]
            fields:
                name:
                    type: string
                    label: bitbag_sylius_cms_plugin.ui.name
                code:
                    type: string
                    label: bitbag_sylius_cms_plugin.ui.code
                    sortable: ~
                path:
                    type: string
                    label: bitbag_sylius_cms_plugin.ui.path
                type:
                    type: string
                    label: bitbag_sylius_cms_plugin.ui.type
            filters:
                search:
                    type: string
                    label: sylius.ui.search
                    options:
                        fields: [code, translations.name]
                type:
                    type: select
                    label: sylius.ui.type
                    form_options:
                        choices:
                            sylius.ui.image: !php/const BitBag\SyliusCmsPlugin\Entity\MediaInterface::IMAGE_TYPE
                            sylius.ui.file: !php/const BitBag\SyliusCmsPlugin\Entity\MediaInterface::FILE_TYPE
                            sylius.ui.video: !php/const BitBag\SyliusCmsPlugin\Entity\MediaInterface::VIDEO_TYPE
            actions:
                main:
                    import:
                        type: import
                        options:
                            resourceCode: media
                    create:
                        type: create
                item:
                    update:
                        type: update
                    delete:
                        type: delete
                bulk:
                    delete:
                        type: delete
