{% set form = hookable_metadata.context.form %}
{% set locale = hookable_metadata.context.locale %}

<div class="col-12">
    {{ form_row(form.teaserContent, sylius_test_form_attribute('teaser-content', locale)) }}
</div>
