.bitbag-page a, .bitbag-page a:hover {
    color: rgba(0, 0, 0, .87);
    width: 100%;
}

.bitbag-image-block img {
    position: relative;
}

.top.one {
    margin-top: 1rem;
}

.bitbag-image-block span {
    z-index: 25;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: #ffffff;
    text-transform: uppercase;
}

.bitbag-image-block span a {
    text-decoration: none;
    width: 100%;
    color: #ffffff;
}

.bitbag-page, .bitbag-frequently-asked-question {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(34, 36, 38, .15);
}

.bitbag-page:hover {
    background: rgba(0, 0, 0, .03);
}

.italic {
    font-style: italic;
}