{% from '@SyliusAdmin/Macro/translationForm.html.twig' import translationForm %}

{{ form_errors(form) }}

<div class="ui segment">
    <div class="two fields">
        {{ form_row(form.code) }}
    </div>
</div>

{{ translationForm(form.translations) }}
