.homepage-logo {
  border-radius: 6px;
  overflow: hidden;
}

.homepage-sale {
  img {
    width: 60% !important;
    margin: auto !important;
    border-radius: 20px;
  }
}

.cms_content_element__taxons-list {
  .ui {
    display: flex;
    justify-content: space-between;
    margin-left: 0 !important;

    li {
      flex: 1 1 auto;
      text-align: center;
      vertical-align: middle;
      border: solid #eee 1px;
      margin: 20px;
      border-radius: 4px;
      font-size: 16pt;

      a {
        padding: 40px !important;
        display: block;
        transition: color 200ms ease-in;
      }
      background: transparent;
      transition: border-color 200ms ease-in;
    }

    li:hover {
      a {
        color: #22b99a;
        transition: color 200ms ease-in;
      }
      border-color: #22b99a;
      transition: border-color 200ms ease-in;
    }

    li:before {
      content: none !important;
    }
  }
}
