<div class="{{ content_element_base_class }}__taxons-list">
    <div class="ui four column stackable grid">
        {% for taxon in taxons %}
            <div class="ui column">
                <div class="ui segment">
                    <a href="{{ path('sylius_shop_product_index', {'slug': taxon.slug, '_locale': taxon.translation.locale}) }}">
                        {{ taxon.name }}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
