<div class="ui longer fullscreen modal scrolling" data-bb-cms-preview-modal data-bb-target="cms-handle-preview" id="cms-resource-preview-modal">
    <div class="ui header form">
        <div class="two fields">
            {{ render(url('sylius_admin_partial_channel_index', {'template': '@SyliusCmsPlugin/Modal/_channelSwitch.html.twig'})) }}
            {{ render(url('sylius_cms_admin_partial_locale_index', {'template': '@SyliusCmsPlugin/Modal/_localeSwitch.html.twig'})) }}
        </div>
    </div>
    <div class="content ui loadable form loading">
        <iframe frameBorder="0"></iframe>
    </div>
</div>
