{% for block in blocks %}
    {% if block.name != null %}
    <h4 class="ui horizontal section divider header">{{ block.name }}</h4>
    {% endif %}

    <div class="ui column segment">
        {{ sylius_cms_render_block(block.code) }}
    </div>
{% endfor %}
