<h1 class="ui monster section dividing header">
    {{ taxon.name }}
    <div class="sub header">{{ taxon.description }}</div>
</h1>

{{ bitbag_cms_render_block('taxon_t_shirts_banner', null, taxon) }}
