<div class="{{ content_element_base_class }}__pages-collection">
    <div class="ui three column stackable grid">
        {% for page in collection %}
            {% include '@SyliusCmsPlugin/Shop/Page/teaser.html.twig' with {page: page} %}
        {% endfor %}
    </div>
</div>
